@media (min-width: 1200px){
	header, .logotypes, .offer, .offer-option, .work-with, .result, .wait-for, .team, footer{
		padding-left: 100px;
		padding-right: 100px;
	}
	.header-left{
		padding-right: 35px;
	}
	.team-foto{
	  height: 286px;
	}
}
@media (min-width: 1440px){
	body{
		width: 1440px;
	}
	header, .logotypes, .offer, .offer-option, .work-with, .result, .wait-for, .team, footer{
	  padding-left: 120px;
	  padding-right: 120px;
	}
	.site-part-row{
		margin-top: 16px;
	}
}
@media (max-width: 1439px) {
	.wow-head-text, .wow-head-text-shadow{
		font-size: 240px;
	}
	.img-fluid{
	  max-width: 100%;
	  height: auto;
	}
	.offer-option-top-block, .offer-option-bottom-block, .offer-option-swiper{
		width: auto;
		height: auto;
	}
	.offer-option{
		background-position-x: 50%;
	}
	.work-with p{
		padding-right: 50px;
	}
}
@media (max-width: 1199px){
	h2{
		font-size: 32px;
	}
	header, .logotypes, .offer, .offer-option, .work-with, .result, .wait-for, .team, footer{
		padding-left: 45px;
		padding-right: 45px;
	}
	.wow-head-text, .wow-head-text-shadow{
		top: 73px;
		line-height: 244px;
		font-size: 200px;
	}
	.header-left h3 > span {
		font-size: 28px;
		color: #27d678;
	}
}
@media (max-width: 991px){
	h2{
		font-size: 24px;
		line-height: 21px;
	}
	h3{
		font-size: 18px;
	}
	p{
		font-size: 12px;
	}
	.wow-head-text, .wow-head-text-shadow{
		font-size: 150px;
	}
	.thinker-box{
		height: 360px;
	}
	.offer-option{
		background-image: linear-gradient(45deg, #27d678 0%, #27d678 1%, #27d68a 100%);
		height: auto;
	}
	.offer-option-top-block{
		margin-top: 50px;
	}
	.offer-option-swiper{
		margin: 21px 0 50px 0;
		box-shadow: none;
	}
	.work-with p{
		padding-right: 0;
	}
}
@media (max-width: 767px){
	h2{
		font-size: 22px;
	}
	h3{
		font-size: 18px;
	}
	p{
		font-size: 10px;
	}
	header{
		height: auto;
		background-image: url(../img/green-head-logo.svg);
		background-position: 2%;
	}
	header h2{
		margin-top: 30px;
	}
	.header-right{
		display: none;
	}
	.btn-box h3{
		font-size: 14px;
		line-height: 29px;
	}
	.go-btn {
    width: 173px;
    height: 46px;
    padding-left: 32px;
    line-height: 46px;
    font-size: 18px;
    background-size: 12%;
	}
	.feedback-text{
		padding: 0 30px 0 0;
	}
	.header-left h3{
		margin-top: 20px;
	}
	.header-left h3:last-child{
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.header-left h3 > span{
		text-shadow: 0 4px 18px rgba(0,0,0,0.5);
	}
	header p > span{
		font-size: 14px;
	}
	.logotypes{
		padding-top: 40px;
	}
	.thinker-box {
    height: 272px;
	}
	.offer{
		padding-bottom: 40px;
	}
	.work-with{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.wait-for h3:last-child {
    position: relative;
		right: 0;
		bottom: 0;
	}
	.wait-for{
		padding-top: 40px;
	}
	.team{
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.team-swiper-box{
		margin-top: 30px;
	}
}
@media (max-width: 575px){
	header, .logotypes, .offer, .offer-option, .work-with, .result, footer{
		padding-left: 15px;
		padding-right: 15px;
	}
	h2{
		font-size: 18px;
	}
	h3{
		font-size: 16px;
	}
	.logo{
		margin-top: 20px;
		font-size: 20px;
	}
	.btn-box{
		margin-top: 0;
		position: relative;
		right: 0;
	}
	.header-left{
		padding-right: 0;
	}
	.logo-icons{
		margin-bottom: 20px;
	}
	.thinker-box{
		background-image: none;
		border: 6px solid;
		margin-top: 50px;
		height: auto;
		padding-right: 10%;
	}
	.offer-option-swiper{
		padding-bottom: 20px;
	}
	.feedback-name-img{
		width: 40px;
		height: 40px;
	}
	.feedback-name-text{
		top: 0;
	}
	.swiper-container2 > .arrow-box {
    position: relative;
    margin: 0;
    float: right;
	}
	.work-with h3{
		margin-top: 0px;
	}
	.right-green-plus, .right-gray-line{
		display: none;
	}
	.team-foto{
		margin-top: 30px;
	}
}
@media (max-width: 575px), (max-height: 780px){
	.popup-content{
		margin: 1% auto;
		padding-bottom: 25px;
	}
	.close-btn{
	  position: absolute;
	  right: 12px;
	  top: 12px;
	}
	.popup-content h3{
	  margin-top: 35px;
	}
	.audit-del, .logo_style-del, .design-del, .structure-del, .develop-del {
    margin: 3px 6px 3px 6px;
	}
	.offer-go-btn{
		margin-top: 30px;
	}
	.popup-choice{
	  margin-top: 10px;
	}
	.input-block, .popup-input{
	  margin-top: 15px;
	}
	.radio-custom{
		width: 18px;
		height: 18px;
	}
	.radio:checked + .radio-custom::before{
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		border-radius: 6px;
	}
	.license-text{
	  margin: 15px 0 15px 10px;
	  font-size: 10px;
	}
}
